<div id="footer">
  <div class="img-wrap">
    <%= image_tag("CloudFooter2.png")%>
  </div>
  <div class="footernav">
    <div class="row-fluid">
      <div class="span2 offset2">
        <div class="h6">lengoo</div>
        <%= link_to "Über Uns", root_path%></br>
        <%= link_to "Presse", root_path%></br>
        <%= link_to "Jobs", root_path%></br>
        <%= link_to "Partner", root_path%>
      </div>
      <div class="span2 wout-margin">
        <div class="h6">Rechtliches</div>
        <%= link_to "AGB Kunden", root_path%></br>
        <%= link_to "Datenschutz", root_path%></br>
        <%= link_to "Richtlinien (Übersetzer)", root_path%></br>
        <%= link_to "Impressum", root_path%>
      </div>
      <div class="span2">
        <div class="h6">Get in touch</div>
        <%= link_to "Kontakt", root_path%></br>
        <%= link_to "Feedback", root_path%></br>
        <%= link_to "FAQ", root_path%>
      </div>

    </div>
  </div>
  <div class="footersection">
    <div>
      <%= link_to image_tag("Symbole/facebook.png", alt: "Facebook"), "http://www.facebook.com/lengooTranslations", target: "_blank"%>
      <%= link_to image_tag("Symbole/twitter.png", alt: "Twitter"), "http://www.twitter.com/lengootweets", target: "_blank"%>
      
        <span>© 2013 lengoo</span>
    </div>
  </div>
</div>